@tailwind base;
@tailwind components;
@tailwind utilities;
 
.loading-icon {
  font-size: 2rem;
  animation: animate 4s 3;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}